<table>
  <tr>
    <th>
		<form action="{{ url_for('show_boards',id_board=tv_screen[2]) }}" method=post>
		<input type=hidden name=move value=7>
		<input type=submit value=&#x2196;>
		</form>
    </th>
    <th>
		<form action="{{ url_for('show_boards',id_board=tv_screen[2]) }}" method=post>
		<input type=hidden name=move value=8>
		<input type=submit value=&#x2191;>
		</form>
    </th>
    <th>
		<form action="{{ url_for('show_boards',id_board=tv_screen[2]) }}" method=post>
		<input type=hidden name=move value=9>
		<input type=submit value=&#x2197;>
		</form>
    </th>
  </tr>
  <tr>
    <td>
		<form action="{{ url_for('show_boards',id_board=tv_screen[2]) }}" method=post>
		<input type=hidden name=move value=4>
		<input type=submit value=&#x2190;>
		</form>
    </td>
    <td>
		<form action="{{ url_for('show_boards',id_board=tv_screen[2]) }}" method=post>
		<input type=hidden name=move value=5>
		<input type=submit value=+>
		</form>
    </td>
    <td>    
		<form action="{{ url_for('show_boards',id_board=tv_screen[2]) }}" method=post>
		<input type=hidden name=move value=6>
		<input type=submit value=&#8594;>
		</form>
</td>
  </tr>
  <tr>
    <td>
		<form action="{{ url_for('show_boards',id_board=tv_screen[2]) }}" method=post>
		<input type=hidden name=move value=1>
		<input type=submit value=&#x2199;>
		</form>
    </td>
    <td>
		<form action="{{ url_for('show_boards',id_board=tv_screen[2]) }}" method=post>
		<input type=hidden name=move value=2>
		<input type=submit value=&#x2193;>
		</form>
    </td>
    <td>
		<form action="{{ url_for('show_boards',id_board=tv_screen[2]) }}" method=post>
		<input type=hidden name=move value=3>
		<input type=submit value=&#x2198;>
		</form>
    </td>
  </tr>
</table>
