<div class='shelf'>
{% if look == "1" %}
<a href='/streets.html' class='shelf_button_open'>улицы</a>
{% else %}
<a href='/streets.html' class='shelf_button'>улицы</a>
{% endif %}
{% if look == "2" %}
<a href='/hideout.html' class='shelf_button_open'>убежище</a>
{% else %}
<a href='/hideout.html' class='shelf_button'>убежище</a>
{% endif %}
{% if look == "3" %}
<a href='/hospital.html' class='shelf_button_open'>больница</a>
{% else %}
<a href='/hospital.html' class='shelf_button'>больница</a>
{% endif %}
{% if look == "4" %}
<a href='/prison.html' class='shelf_button_open'>тюрьма</a>
{% else %}
<a href='/prison.html' class='shelf_button'>тюрьма</a>
{% endif %}
{% if look == "5" %}
<a href='/sanctuary.html' class='shelf_button_open'>зал славы</a>
{% else %}
<a href='/sanctuary.html' class='shelf_button'>зал славы</a>
{% endif %}
{% if look == "6" %}
<a href='/shop.html' class='shelf_button_open'>магазин</a>
{% else %}
<a href='/shop.html' class='shelf_button'>магазин</a>
{% endif %}
{% if look == "7" %}
<a href='/rules.html' class='shelf_button_open'>правила</a>
{% else %}
<a href='/rules.html' class='shelf_button'>правила</a>
{% endif %}
</div>
